body {
	color: #ffe6cc;
	background-color: #e6e6e6;
	font-family: 'Roboto Slab', serif;
}

/* container of header, whitout the bootstrap radio and red background*/

#header-nav {
	border-radius: 0px;
	border: 0px;
	border-color: #bd1521;
	background-color: white;
	width: 100%;
}

.navbar-nav {
	font-size: 2em;
	text-decoration: none;
	color: grey;
	text-align: center;
	vertical-align: middle;
}


#molongui-brand {
	font-size: 2em;
	float: left;
	vertical-align: middle;
}


.navbar-brand {
	font-size: 2.4em;
	float: left;
	position: relative;
	bottom:  12px;
	left: 5px;
}


#nav-list {
margin-top: 20%;
margin-right: 25%;
}



#nav-list a {
  text-align: center;
  width: 100%;
  font-weight: 400;
  font-size: 1,2em;
  border: 0px;
  margin-bottom: 4%;

}


/*container for the menu article*/


.white-boxes {
	background-color: #ffffff;
	padding: 2%;
	margin: 4%;
}

h1 {
	font-size: 3em;
	color: #cc0000;
	font-weight: 700;
	vertical-align: center;
	text-align: center;
}


h2 {
	font-size: 2.5em;
	font-weight: 400;
	z-index: 10;
	border: 0px;
	margin-bottom: 4%
}



#art-menu {
	margin: 5%;
	z-index: 1;
}

.caption-red {
	color: #cc0000;		
}


.menutext {
	color:#000000;
	font-size: 1.2em;
	font-weight: 300;
	text-align: center;
	margin: 2%;
}


